@font-face {
  font-family: "Pragmatica Extended";
  src: url("fonts/PragmaticaExtended-Regular.woff2") format("woff2"),
       url("fonts/PragmaticaExtended-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("fonts/PragmaticaExtended-Bold.woff2") format("woff2"),
       url("fonts/PragmaticaExtended-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*Estilos gerais*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(20, 112, 175, 1);
}

a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}

/*fim estilos gerais*/

/*Inicio estilos cabecalho*/

.header {
  position: fixed;
  height: 60px;
  border-bottom: 1px solid;
  background-color: rgba(20, 112, 175, 1);      /* cor de fundo */
  color: #fff;                 /* cor do texto */
  padding: 10px 20px;          /* espaçamento interno */
  display: flex;               /* alinha itens em linha */
  width: 100%;
  justify-content: 900px; /* espaço entre logo e menu */
  align-items: center;         /* centraliza verticalmente */
  z-index: 1000;              /* garante que o cabeçalho fique acima de outros elementos */
  font-family: "Pragmatica Extended", sans-serif;
}

/* Logo */

.header .logo a img {
  height: 60px;                /* altura da imagem do logo */
  margin-right: 900px;        /* espaçamento à direita */
  margin-left: 100px;
  width: 60px;                 /* largura da imagem do logo */
  border-radius: 50%;         /* deixa a imagem redonda */
}

.header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Menu de navegação */
.header .nav ul {
  list-style: none;          /* remove marcadores da lista */
  margin: 0;
  padding: 0;
  display: flex;             /* itens do menu em linha */
}

.header .nav ul li {
  margin-left: 20px;         /* espaçamento entre links */
}

.header .nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.header .nav ul li a:hover {
  text-decoration: underline; /* efeito ao passar o mouse */
}

/*fim estilos cabecalho*/

/*comeco estilo main*/

#main-content {
    height: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid white;
}

#title-main {
    margin-top: 90px;
    font-family: "Pragmatica Extended", sans-serif;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 150px;
}

#sub-title-main {
    font-family: "Pragmatica Extended", sans-serif;
    justify-content: center;
    color: white;
    font-size: 50px;
    padding-left: 50px;
}

#main-content img {
    box-shadow: -10px 10px 7px rgb(3, 60, 114);
    height: 800px;
    width: 800px;
    margin-left: 10px;
    border-radius: 10%;
}

#main-text {
    position: absolute;
    bottom: -300px;
    left: 880px;
    font-size: x-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#localização-button {
    background: none;
    color: white;
    border-color: white;
    width: 200px;
    height: 50px;
}

#localização-button:hover {
    transform: 0.5px;
    width: 210px;
}

/*Fim estilo main*/

/*comeco sessao 1*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 200px;
    border-bottom: 1px solid white;
}

.gallery h2 {
    font-family: "Pragmatica Extended", sans-serif;
    color: #fff;
    font-size: 140px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
}

.gallery h3 {
    font-family: "Pragmatica Extended", sans-serif;
    color: #fff;
    font-size: 30px;
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
}

.images {
    display: flex;
    gap: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    align-items: center;
}

.image-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.images img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container label {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery p {
    font-size: 16px;
    color: #555;
    max-width: 500px;
}

#text2 {
    width: 100%;
    text-align: center;
    padding-top: 450px;
    padding-left: 500px;
    margin-top: 80px;
    z-index: -1;
}

#text2 p {
    color: #fff;
    font-size: 23px;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*fim sessao 1*/
