
@font-face {
  font-family: "Pragmatica Extended";
  src: url("fonts/PragmaticaExtended-Regular.woff2") format("woff2"),
       url("fonts/PragmaticaExtended-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("fonts/PragmaticaExtended-Bold.woff2") format("woff2"),
       url("fonts/PragmaticaExtended-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*Estilos gerais*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(20, 112, 175, 1);
}

a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}

/*fim estilos gerais*/

/*Inicio estilos cabecalho*/

#cabecalho {
    border-bottom: 1px solid white;
    height: 150px;
}

#header-main {
    display: block;
}

#logo-header {
    display: flex;
    position: absolute;
    height: 70px;
    width: 70px;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 10%;
}

#buttons-header1{
    font-family: "Pragmatica Extended", sans-serif;
    display: flex;
    color: white;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}

#servico {
    padding-right: 5px;
}

/*Fim estilos cabecalho*/

/*comeco estilo main*/

#main-content {
    height: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid white;
}

#title-main {
    font-family: "Pragmatica Extended", sans-serif;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 150px;
    text-decoration: underline;
}

#sub-title-main {
    font-family: "Pragmatica Extended", sans-serif;
    justify-content: center;
    color: white;
    font-size: 50px;
    padding-left: 50px;
}

#main-content img {
    box-shadow: -10px 10px 7px rgb(3, 60, 114);
    height: 800px;
    width: 800px;
    margin-left: 10px;
    border-radius: 10%;
}

#main-text {
    position: absolute;
    bottom: -400px;
    left: 900px;
}



